<html>
<body>
    <h2>EJS Cats</h2>
    <% for (var pic of cats) { %>
    <a href="/<%=pic%>"><img src="/images/<%=pic%>" alt=<%=pic%> height="100" width="100" ></a>   
    
    <br>
    <% } %>
<a href="/">Home</a>



</body>
</html>